{{define "footer"}}
	<footer class="footer">
		<div class="content has-text-centered">
			<strong><a href="/about">About</a> &nbsp;<span class="snow">·</span> &nbsp;
				<a href="/faq">FAQ</a>
			</strong>
			<p>
				Powered by <a href="https://github.com/go-ushio/">Ushio</a>.<br>
				Presented by <a href="https://github.com/iochen">Richard Chen</a>.
			</p>
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/highlightjs@9.16.2/highlight.pack.min.js"></script>
	<script defer>hljs.initHighlightingOnLoad();</script>

	<script src="https://cdn.jsdelivr.net/gh/go-ushio/js/bulma-toast.min.js"></script>
	<script defer src="/main.js"></script>

{{end}}