{{define "nav"}}
	<nav class="navbar is-spaced has-shadow" role="navigation" aria-label="main navigation">
		<div class="container">
			<div class="navbar-brand">
				<a class="navbar-item" href="/">
					<img src="/static/logo.png">
				</a>
				<div class="navbar-burger" data-target="navbar-menu">
					<span></span><span></span><span></span>
				</div>
			</div>
			<div class="navbar-menu" id="navbar-menu">
				<div class="navbar-start">
					<a href="/latest" class="navbar-item">
						Latest
					</a>
					<a href="/hot" class="navbar-item">
						Hot
					</a>
				</div>

				<!-- navbar items | right side -->
				<div class="navbar-end">
					<a href="/home" class="navbar-item">
						Home
					</a>
                    {{if .LoggedIn }}
						<div class="navbar-item has-dropdown is-hoverable">
							<a href="#" class="navbar-link">
                                {{- .User.Name -}}
							</a>
							<div class="navbar-dropdown">
								<a href="/u/{{- .User.Username -}}" class="navbar-item">
									Profile
								</a>
								<a href="/settings" class="navbar-item">
									Settings
								</a>
								<hr class="navbar-divider">
								<a href="/logout" class="navbar-item has-text-danger">
									Logout
								</a>
							</div>
						</div>
						<div class="navbar-item">
							<div class="buttons">
								<a href="/compose" class="button is-primary">
									<strong>Compose</strong>
								</a>
							</div>
						</div>
                    {{else}}
						<div class="navbar-item">
							<div class="buttons">
								<a href="/sign_up" class="button is-primary">
									<strong>Sign up</strong>
								</a>
								<a href="/login" class="button is-light">
									Log in
								</a>
							</div>
						</div>
                    {{end}}
				</div>
			</div>

		</div>
	</nav>
{{end}}