.category-bd {
    flex: 0 0 auto;
    width: 9px;
    height: 9px;
    margin-right: 5px;
    display: inline-block;
}

.footer {
    background-color: #fafafa;
    padding: 3rem 1.5rem 6rem;
}

.num {
    font-weight: bold;
    font-size: 1.1487em;
}

footer a {
    color: #444444;
}

.g-recaptcha {
    padding-bottom: 1em;
}

.markdown-body {
    padding-left: 1rem;
}

.poster {
    width: 20%;
}

.poster-avatar {
    display: flex;
    justify-content: center;
    padding-bottom: .4em;
}

.poster-avatar figure {
    height: 100px;
    width: 100px;
}

.poster-name {
    padding: 0 .5em;
    font-size: 1.23em;
    font-weight: 600;
}

.poster-username {
    padding: 0 .5em .5em;
}

.poster-username a {
    color: #7A7A7A;
}

.post-section {
    width: 100%;
    padding: 0.8rem;
    background-color: #fff;
    border: 2px solid #f0f5f7;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-bottom: 1em;
}

.post-title h1 {
    font-size: 1.6em;
    font-weight: 500;
    line-height: 150%;
    margin-top: 0.2rem;
    max-width: calc(100% - 80px - 3%);
    word-break: break-word;
}

.post-header {
    padding: 10px;
    font-size: 15px;
    line-height: 120%;
    text-align: left;
    border-bottom: 1px solid #f0f5f7;
    overflow: auto;
    min-height: 60px;
}

.post-avatar img {
    height: 80px;
    width: 80px;
    border-radius: 5px;
    float: right;
}

.topic-list {
    color: #919191;
    width: 100%;
    border-collapse: collapse;
}

a.topic-title {
    color: #222222;
    font-size: 1.1487em;
    display: block;
    margin: -1em;
    padding: 1em;
}

.topic-list td {
    padding: 12px 5px;
}

tr {
    border-bottom: 1px solid #e9e9e9;
}

tbody {
    border-top: 3px solid #e9e9e9;
}

.top-p {
    width: 88px;
}

.top-r {
    width: 4.5em;
}

.top-v {
    width: 4.5em;
}

.top-a {
    width: 7em;
}

@media (max-width: 768px) {
    .section {
        padding: 1.6em 0.875em;
    }

    .topic-list td {
        padding: 6px 3px;
    }

    .topic-list figure {
        height: 48px !important;
        width: 48px !important;
    }

    .top-t {
        width: 85%;
    }

    .top-p {
        width: 10%;
        min-width: 50px;
    }

    .top-r {
        width: 5%;
        min-width: 2.6em;
    }

    .num.r {
        float: right;
    }

    a.topic-title {
        font-size: 1em;
    }

    .t-mt span {
        font-size: 0.8em;
    }

    .post-title h1 {
        font-size: 1.375em;
    }

    .breadcrumb {
        font-size: 0.9rem;
    }

    .post-avatar img {
        height: 60px;
        width: 60px;
    }

    .post-title h1 {
        max-width: calc(100% - 60px - 3%);
    }
}

.cate-item {
    padding-top: 0.5em;
}

.dropdown-content a {
    color: #4a4a4a;
    text-decoration: none;
}

.post {
    padding-top: 0.45em;
}