<!DOCTYPE html>
<html lang="en">
<head>
    {{- template "head" .Meta -}}
	<script src="https://www.recaptcha.net/recaptcha/api.js" async defer></script>
</head>
<body>
{{- template "body/login" . -}}
</body>
</html>