<!DOCTYPE html>
<html lang="en">
<head>
    {{- template "head" .Meta -}}
</head>

{{- template "nav" .Nav -}}
<body>
<section class="section">
	<div class="container post">
		<div class="post-section">
            {{/*			<div class="poster">*/}}
            {{/*                {{ template "poster" .Post.Info.Creator }}*/}}
            {{/*			</div>*/}}
			<div class="post-header">
				<div class="post-avatar">
					<a href="/u/{{- .Post.Info.Creator.Username -}}">
						<figure class="image">
							<img class="avatar"
								 src="https://www.gravatar.com/avatar/{{ .Post.Info.Creator.Avatar }}?s=128&d=identicon">
						</figure>
					</a>
				</div>
				<div class="container">
					<nav class="breadcrumb" aria-label="breadcrumbs">
						<ul>
							<li><a href="/home">Home</a></li>
							<li><a href="/c/{{- .Post.Info.Category.TName -}}">{{- .Post.Info.Category.Name -}}</a></li>
						</ul>
					</nav>
				</div>
				<div class="post-title">
					<h1>{{- .Post.Info.Title -}}</h1>
				</div>
				<div class="post-meta">
					<div class="post-vote">
						<div class="post-pos" onclick="vote({{- .Post.PID -}},0)">
							<svg aria-hidden="true" class="post-vote-arrow" width="15" height="15"
								 viewBox="0 0 36 36">
								<path d="M2 26h32L18 10 2 26z"></path>
							</svg>
							<span id="pos">{{- .Post.Info.VotePosCount -}}</span>
						</div>
						<div class="post-neg" onclick="vote({{- .Post.PID -}},1)">
							<svg aria-hidden="true" class="post-vote-arrow" width="15" height="15"
								 viewBox="0 0 36 36">
								<path d="M2 10h32L18 26 2 10z"></path>
							</svg>
							<span id="neg">{{- .Post.Info.VoteNegCount -}}</span>
						</div>
					</div>&nbsp;&nbsp;&nbsp;
					<a class="name" href="/u/{{- .Post.Info.Creator.Username -}}">
                        {{- .Post.Info.Creator.Name -}}</a>&nbsp;&nbsp;•&nbsp;&nbsp;
					<span>{{- .Post.Info.CreatedAt | dateFormat -}}</span>
				</div>
			</div>
			<div class="post-content">
				<article class="markdown-body">
                    {{ .Post.Content }}
				</article>
			</div>
		</div>
		<div class="comment-section">
            {{ range $comment := .Comments }}
				<div class="poster">
                    {{ template "poster" $comment.Creator }}
				</div>
				<div class="post-content">
					<article class="markdown-body">
                        {{ $comment.Content }}
					</article>
					<div class="post-meta">
					</div>
				</div>
            {{ end }}
		</div>
</section>
</body>
{{- template "footer" -}}

</html>