{{define "body/home"}}
	<section class="section">
		<div class="container">
			<table class="topic-list">
				<thead>
				<tr>
					<th data-sort-order="default">Topic</th>
					<th data-sort-order="posters" aria-label="Posters" style="width: 5.4em;"></th>
					<th data-sort-order="posts" class="is-hidden-mobile" style="width: 10%;">Replies</th>
					<th data-sort-order="views" class="is-hidden-mobile" style="width: 10%;">Views</th>
					<th data-sort-order="activity" style="width: 8em;">Activity</th>
				</tr>
				</thead>
				<tbody>
                {{range $post := .Data}}
					<tr>
						<td>
							<a href="/p/{{- $post.Info.PID -}}" class="topic-title">{{- $post.Info.Title -}}</a>
							<div></div>
							<span class="category"
								  style="color: #{{- $post.Category.Color -}}">{{- $post.Category.Name -}}</span>
						</td>
						<td>
							<a href="/u/{{- $post.User.Username -}}">
								<figure class="image is-64x64">
									<img class="is-rounded"
										 src="https://www.gravatar.com/avatar/{{ $post.User.Avatar }}?s=128&d=identicon"
										 alt="{{- $post.User.Username -}}">
								</figure>
							</a>
						</td>
						<td class="is-hidden-mobile">
							<span>{{- $post.Info.Replies | numFormat -}}</span>
						</td>
						<td class="is-hidden-mobile">
							<span>{{- $post.Info.Views | numFormat -}}</span>
						</td>
						<td>
							<span class="time"
								  title="{{- $post.Info.Activity -}}">{{- $post.Info.Activity | dateFormat -}}</span>
						</td>
					</tr>
                {{end}}
				</tbody>
			</table>
		</div>
	</section>
{{ end }}