{{define "body/home"}}
	<section class="section">
		<div class="container" style="margin-bottom: 1em">
			<div class="dropdown">
				<div class="dropdown-trigger">
					<button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
						<span>Categories</span>
						<span class="icon is-small">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </span>
					</button>
				</div>
				<div class="dropdown-menu" id="dropdown-menu" role="menu">
					<div class="dropdown-content">
						<div style="margin: 0 1em;">
                            {{ range $category := .Categories }}
								<a href="/c/{{- $category.TName -}}">
									<div class="cate-item">
								<span class="category-bd"
									  style="background-color: #{{- $category.Color -}};"></span>
										<span class="category">{{- $category.Name -}}</span>
									</div>
								</a>
                            {{ end }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<table class="topic-list">
				<thead>
				<tr>
					<th class="top-t">Topic</th>
					<th aria-label="Posters" class="top-p"></th>
					<th class="top-r"><span class="is-hidden-mobile">Replies</span></th>
					<th class="is-hidden-mobile top-v">Views</th>
					<th class="is-hidden-mobile top-a">Activity</th>
				</tr>
				</thead>
				<tbody>
                {{range $post := .Data}}
					<tr>
						<td>
							<a href="/p/{{- $post.Info.PID -}}" class="topic-title">{{- $post.Info.Title -}}</a>
							<div class="t-mt">
								<span class="category-bd"
									  style="background-color: #{{- $post.Category.Color -}};"></span>
								<span class="category">{{- $post.Category.Name -}}</span>
								<span class="is-hidden-tablet"
									  class="time">&nbsp;•&nbsp;&nbsp;{{- $post.Info.Activity | dateFormat -}}</span>
							</div>
						</td>
						<td>
							<a href="/u/{{- $post.User.Username -}}">
								<figure class="image is-64x64">
									<img class="is-rounded"
										 src="https://www.gravatar.com/avatar/{{ $post.User.Avatar }}?s=128&d=identicon"
										 alt="{{- $post.User.Username -}}">
								</figure>
							</a>
						</td>
						<td>
							<span class="num r">{{- $post.Info.Replies | numFormat -}}</span>
						</td>
						<td class="is-hidden-mobile">
							<span class="num">{{- $post.Info.Views | numFormat -}}</span>
						</td>
						<td>
							<span class="is-hidden-mobile" class="time"
								  title="{{- $post.Info.Activity -}}">{{- $post.Info.Activity | dateFormat -}}</span>
						</td>
					</tr>
                {{end}}
				</tbody>
			</table>
		</div>
	</section>
{{ end }}