{{define "body/user"}}
    <section class="section">
        <div class="container">
            <div style="display: table-cell">
                <figure class="image is-128x128">
					<img class="is-rounded"
						 src="https://www.gravatar.com/avatar/{{ .User.Avatar }}?s=256&d=identicon">
                </figure>
            </div>
			<div style="display: table-cell;vertical-align: middle;padding-left: 3em">
				<h1 class="is-size-2">{{ .User.Name }}</h1>
				<span class="is-size-5">@{{ .User.Username }}</span>
            </div>

			<div class="bio" style="font-size: 1.168em">
                {{ .User.Bio }}
			</div>

            {{/*TODO: social*/}}

        </div>
    </section>
{{ end }}