{{- $token := .Message -}}
{{- $url := printf "https://uranium.zincic.com/sign_up?token=%s&email=%s" $token $dst -}}
Hi, there
Please continue your registration by open the link below.
<a href="{{- $url -}}">{{ $url }}</a>
Best Regards,
Zincic Team