{{ $token := .Token }}
{{ $dst := .Dst }}
{{ $subject := .Subject }}
{{ $from := .From }}
{{ $url := printf "https://uranium.zincic.com/sign_up?token=%s&email=%s" $token $dst }}
To: "{{- $dst -}}" <{{- $dst -}}>
From: "no-reply" <{{- $from -}}>
Subject: {{ $subject }}

Hi, there
Please continue your registration by open the link below.
{{ $url }}
Best Regards,
Richard Chen