{{define "footer"}}
<footer class="footer">
	<div class="content has-text-centered">
		<strong><a href="/about">About</a> &nbsp;<span class="snow">·</span> &nbsp;
			<a href="/faq">FAQ</a> &nbsp; <span class="snow">·</span> &nbsp;
			<a href="/p/7v9TEc53">API</a> &nbsp; <span class="snow">·</span> &nbsp;
			<a href="/mission">Mission</a> &nbsp; <span class="snow">·</span> &nbsp;
			<a href="/advertise">Advertise</a> &nbsp; <span class="snow">·</span> &nbsp;
			<a href="/tools">Tools</a>
		</strong>
		<p>
			Powered by <a href="https://github.com/go-ushio/">Ushio</a>.
		</p>
	</div>
</footer>
{{end}}